    <div class="spacer"></div> 
</body>

<footer class="footer">
  <p>Made with <span class="heart">❤️</span> by Nikhil</p>
     <p>&copy; 2025</p>
  <a href="https://nikhiliitbhu.github.io/portfolio/" target="_blank"><img src="images/Self.jpeg" alt="Nikhil" class="footer-logo"></a>
  
</footer>

</html>

<script>
    document.getElementById("writeLink").setAttribute("href", window.location.origin + "/write");
    document.getElementById("homeLink").setAttribute("href", window.location.origin);
    document.getElementById("aboutLink").setAttribute("href",window.location.origin + "/about");
    document.getElementById("contactLink").setAttribute("href", window.location.origin + "/contact");
</script>